Numpy 입문

In [ ]:
import numpy as np

# numpy의 부동소수점 자리수 표시
np.set_printoptions(suppress=True, precision=4)

In [ ]:
n1 = np.array([1,2,3,4,5,6,7])
print(n1)

In [ ]:
# 요소 수 확인
print(n1.shape) # 1차원

In [ ]:
len(n1)

In [ ]:
# array 함수 통한 행렬(2개 배열) 변수 정의
np.array([
    [1,2,3],
    [4,5,6],
    [7,8,9],
    [10,11,12]

])

In [ ]:
n2 = np.array([
    [1,2,3],
    [4,5,6],
    [7,8,9],
    [10,11,12]

])
print(n2)
print(n2.shape) # (4,3) 4행 3열, 4개의 배열, 각 배열 3개의 원소가 있어요

In [ ]:
print(len(n2))

zeros, ones 함수 이용

In [ ]:
np.zeros(5)

In [ ]:
n3 = np.zeros(5)
print(n3.shape) # 1차원

In [ ]:
np.ones(3)

In [ ]:
np.ones((2,3)) # (2,3) 행렬: 2개의 배열이 있고 각 배열은 3개의 원소가 있음

In [ ]:
n4 = np.ones((2,3))
print(n4.shape)

In [ ]:
#  모든 요속 정규분포를 따르는 변수와 3개 행렬

np.random.randn(2,3,4) # 평균 0, 표준편차 1 (표준화 (x-x_bar)/sigma)) # n = len(x)

In [ ]:
n5 = np.random.randn(2,3,4)
print(n5.shape)

그래프 출력용 수치 배열 생성

In [ ]:
np.linspace(-1, 1 ,11)

In [ ]:
n6 = np.linspace(-1, 1 ,11)
print(n6.shape)

In [ ]:
n6.ndim # ndim : number of dimension

In [ ]:
np.arange(-1, 1.2, 0.2)

조작

In [ ]:
# 특정행, 열 추출

print(n2)

In [ ]:
n2[:, 0]

In [ ]:
n2

In [ ]:
n7 = np.array([False, True,False, True])
n2[n7]

In [ ]:
n8= n2[n7]
n8.shape

reshape함수 (**)

In [ ]:
# 초기 변수 1개 배열
np.array(range(24))

In [ ]:
n9 = np.array(range(24))
n9.shape

In [ ]:
n9.reshape(3,-1)

In [ ]:
n9.reshape(3,8)

In [ ]:
# n9.reshape(9,-1)
# 에러발생함

In [ ]:
# n9.reshape(9,2)
# ValueError: cannot reshape array of size 24 into shape (9,2)

In [ ]:
# -1 을 지정, 자동 계산
n9.reshape(2, -1, 3)

In [ ]:
n9.reshape(2, 4, 3)

In [ ]:
n9.reshape(12,-1,1)

In [ ]:
n9.reshape(3,-1,2,4)

In [ ]:
n9.reshape(1,-1)

축 교체하기

In [ ]:
print(n2)

In [ ]:
# 전치행렬 (행과 열을 바꿔주는것)
# T : transpose
n2.T

In [ ]:
n9.reshape(2,-1,4)

In [ ]:
n10 = n9.reshape(2,-1,4)

In [ ]:
n10.shape

In [ ]:
np.transpose(n10)

In [ ]:
n11 = np.transpose(n10)
print(n11)
print(n11.shape)

In [ ]:
np.transpose(n10, (1,2,0))

In [ ]:
n12 = np.transpose(n10, (1,2,0))
print(n12.shape)

행렬 연결하기

In [ ]:
# 변수로 사용할 배열

# 2행 3열 행렬
n13 = np.array(range(1,7)).reshape(2,3)
n14 = np.array(range(7,13)).reshape(2,3)

In [ ]:
# 3요소 벡터
n15 = np.array(range(14,17))

In [ ]:
print(n13)
print(n14)

In [ ]:
# 행렬과 행렬 연결(세로 연결)
np.vstack([n13, n14]) # stack vertically (수직 방향으로 쌓아죠)

In [ ]:
np.hstack([n13, n14]) # stack horizontally (수평으로 쌓아줘)

In [ ]:
np.concatenate([n13,n14])

In [ ]:
np.concatenate([n13,n14], axis=0)

In [ ]:
np.concatenate([n13,n14], axis=1)

연산

In [ ]:
# 넘파이 변수끼리 연산

# 원본변수
print(n13)
print(n14)

In [ ]:
# 행렬간 연산
n13 + n14

In [ ]:
n15 = n13 + n14
print(n15)

브로드캐스팅

In [ ]:
print(n1)

In [ ]:
# 모든 요소에서 같은 값을 빼고 싶어요
n1 - 4

유니버설 함수

In [ ]:
np.linspace(0, 2*np.pi, 25)

In [ ]:
x = np.linspace(0, 2*np.pi, 25)

In [ ]:
# y = sin(x) 계산
y = np.sin(x)
print(y)

집계함수

In [ ]:
n1

In [ ]:
np.sum(n1)

In [ ]:
np.mean(n1)

In [ ]:
np.max(n1) # 최대값

In [ ]:
np.min(n1) # 최소값

응용 예시

In [ ]:
# 두 변수를 비교해서 일치하는 개수로 정확도 계산

# 2개의 넘파이 배열 준비

# 정답
yt = np.array([1,1,0,1,0,1,1,0,1,0])

# 예측
yp = np.array([1,1,0,1,0,1,0,1,1,1])

In [ ]:
# 정답(y)과 예측(y_pred) 잘 맞나? (비교)
matched = (yt == yp)
print(matched)

In [ ]:
matched.sum()

In [ ]:
# 맞은 개수(정답 수 세는 방법)
correct = matched.sum()

# 전체 수
total = len(matched)

In [ ]:
# 정확도 계산
accuracy = correct / total
print(accuracy)

In [ ]:
print(f'정답수: {correct}, 전체수: {total}, 정확도:{accuracy*100}% ' )

벡터값을 1차 함수로 변환 [0,1] 범위로 제한

In [ ]:
# 모든 값을 [0,1] 범위에 포함하도록 변환하고 싶어요

print(n1)

In [ ]:
n1_max = n1.max()
n1_min = n1.min()
print(n1_max, n1_min)

In [ ]:
# 변환(브로드캐스팅 기능 사용해야지)
(n1-n1_min) / (n1_max -n1_min) # 정규화 (min-max scaling)

참고

- 왜 평균을 사용하는 알고리즘들이 다 이상치에 민감할까요?

In [ ]:
팀원_키 = [173,174,182,177,176]

np.mean(팀원_키)

In [ ]:
팀원_키_업데이트 = [173,174,182,177,176, 207]
np.mean(팀원_키_업데이트)

In [ ]:
# 이상치를 처리 >> 이상치 제거, 이상치 대체(평균값으로 대체), 데이터 분포를 보고 1)평균, 2)중위수(median), 회귀분석 돌려서 평균값과 비교해서 처리
팀원_키_수정 = [173,174,182,177,176, 176.4]
np.mean(팀원_키_수정)

특정조건을 만족하는 행 추출

In [ ]:
print(n2)
# n2의 0번째 열이 짝수인지 판단하고 싶어요
print()
print(n2[:, 0])

In [ ]:
n2[:, 0] % 2 == 0

In [ ]:
n2[n2[:, 0] % 2 == 0]

In [ ]:
condition = n2[:, 0] % 2 == 0
n2[condition]

In [ ]:
조건 = n2[:, 0] % 2 == 0
n2[조건]

In [ ]:
# eos